.mainDiv {
  background-image: url("../ClockComponent/assetForClock/Rectangle\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 39%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.day {
  color: white;
  height: 5px;
  float: right;
  margin-block-start: 0em;
 margin-block-end: 0em;

}
.mainDiv div {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  gap: 0px;
  margin-right: 10px;
}
.clock {
  color: white;
  font-size: 20px;
  height: 5px;
  margin-block-start: 1em;
}
